

header {
  background-color: #282c34;
  min-height: 120px;
}

header > p {
  color: aliceblue;
  font-size: 2rem;
  padding-top: 30px;
  text-align: center;
  font-style: italic;
}

.container {
  max-width: 800px;
  margin: 0  auto;
}

.main {
  color: aliceblue;
}

.text2 {
  color: aliceblue;
  font-size: 1.2rem;
}

.clustering_method label {
  color: aliceblue;
}

.clustering_method {
  margin: 20px 0;
  display: flex;
  align-items: center;
  justify-content: center;


}

.mr {
  padding-left: 1rem;
}

.file-container{
  display: flex;
  align-items: center;
  justify-content: center;
}

.file-input {
  width: 500px;
}

.graphics {
  display: flex;
  flex-direction: column;
  align-items: center;
}